{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"type="text/css">
    <title>Cinema FDS</title>
</head>

<body>
    <!-- barra de navegação -->
    <nav style="background-color: rgb(49, 152, 225) !important;" class="navbar navbar-light bg-light">
        <div class="container-fluid">            
          <button type="button" class="btn btn-dark">Menu</button>
          <span class="navbar-brand mb-0 h1"></span>
        </div>
      </nav>
    <div id="container">
      <br>
      <nav cust style="background-color: rgb(53, 51, 51) !important;" class="navbar">
        <img src="https://www.kinoplex.com.br/filmes/images/cartaz/262x388/bob-marley-one-love.jpg?" alt="">
        <img src="https://www.kinoplex.com.br/filmes/images/cartaz/262x388/brinquedo-diabolico-imaginario.jpg?" alt="">
        <img src="https://www.kinoplex.com.br/filmes/images/cartaz/262x388/duna-parte-2.jpg?" alt="">
        <img src="https://www.kinoplex.com.br/filmes/images/cartaz/262x388/godzilla-e-kong-o-novo-imperio.jpg?" alt="">
      </nav>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  </body>
</html>