{% extends "base.html" %}
 
{% load static %}
 
{% block start %}
 
<style>
 
</style>
<div class="container card shadow-lg mt-5 ">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
 
                <th scope="col">Cancel Toicket</th>
 
                <th scope="col">Book </th>
                <th scope="col">Movie Name</th>
                <th scope="col">Watch</th>
 
            </tr>
        </thead>
        <tbody>
            {% for cartItems in carts.cart_items.all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'remove_cart' cartItems.uid %}" class="btn btn-danger">???? Cancel Ticket</a>
                </td>
                <td><img src="https://i.ibb.co/Dkz0p6G/gfg-movei-3.jpg" style="height: 100px; width:100px;"></td>
                <td>
                    <h5>{{cartItems.movie.movie_name}}</h5>
                </td>
                <td><a href="https://www.geeksforgeeks.org/" class="btn btn-warning">
                        ???? Pay Now</a>
 
 
            </tr>
            {% endfor %}
            <tr>
 
                <th scope="col"></th>
                <td></td>
                <td></td>
                <td></td>
 
            </tr>
 
        </tbody>
    </table>
</div>
 
 
 
 
{% endblock %}
