{% extends "base.html" %}
 
{% load static %}
 
{% block start %}
    <title>Cadastro de Filme</title>
    <style>
      body {
          background-color: #333; 
          color: #fff; 
          font-family: Arial, sans-serif; 
      }
      form {
          max-width: 400px; 
          margin: 0 auto; 
          color: #fff
      }
      input[type="text"], input[type="number"] {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #fff; 
          background-color: #fff; 
          color: #000; 
          border-radius: 10px; 
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
      }
      button[type="submit"] {
          padding: 10px 20px;
          background-color: #007bff; 
          color: #fff; 
          border: none;
          cursor: pointer;
          border-radius: 10px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
      button[type="submit"]:hover {
          background-color: #0056b3; 
      }
  </style>
  <div class="container-fluid mt-4 d-flex justify-content-center">
    <div class="col-md-6">
      <br>
      <h1 style="color: aliceblue; text-align: center;">Cadastro de Filme</h1>
      <br>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
        <button type="submit">Salvar</button>
      </form>
    </div>
  </div>

  {% endblock %}
