{% extends "base.html" %}
{% load static %}
{% block start %}
<style>
.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-container .btn {
    font-size: 1.3rem; 
    padding: 0.2rem 0.4rem;
}

.quantity-container .btn-group {
    display: flex;
}

.quantity-container .btn-group .btn {
    margin-right: 0.5rem;
    flex: 1;
}

.quantity-container .btn-group .btn:last-child {
    margin-right: 0;
}
</style>
<div class="container card shadow-lg mt-5" style="background-color: rgb(33 38 45);">
    <table class="table">
        <thead>
            <tr style="color: aliceblue;">
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor</th>
                <th scope="col">Nome do Filme</th>
                <th scope="col">Assistir</th>
            </tr>
        </thead>
        <tbody>
            {% for cartItem in carts.cart_items.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'remove_cart' cartItem.uid %}" class="btn btn-danger">Remover</a></td>
                <td class="quantity-container">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary quantity-btn" data-quantity="1" data-unit-price="{{ cartItem.movie.price }}">Inteira</button>
                        <button type="button" class="btn btn-outline-secondary quantity-btn" data-quantity="0.5" data-unit-price="{{ cartItem.movie.price }}">Meia</button>
                    </div>
                </td>
                <td style="color: aliceblue;"><p class="price">R$ {{ cartItem.movie.price }}</p></td>
                <td>
                    <h5 style="color: aliceblue;">{{ cartItem.movie.movie_name }}</h5>
                </td>
                <td><a href="#" class="btn btn-warning btn-finalize">Finalizar a compra</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function calculateTotalPrice(quantity, unitPrice) {
        return (quantity * unitPrice).toFixed(2);
    }

    document.addEventListener('DOMContentLoaded', function () {
        const quantityButtons = document.querySelectorAll('.quantity-btn');
        const priceElements = document.querySelectorAll('.price');

        quantityButtons.forEach(button => {
            button.addEventListener('click', function () {
                let quantity = parseFloat(this.dataset.quantity);
                let unitPrice = parseFloat(this.dataset.unitPrice);
                let totalPrice = calculateTotalPrice(quantity, unitPrice);
                this.closest('tr').querySelector('.price').textContent = `R$ ${totalPrice}`;

                this.closest('.btn-group').querySelectorAll('.quantity-btn').forEach(btn => {
                    btn.classList.remove('btn-primary');
                    btn.classList.add('btn-outline-secondary');
                });
                this.classList.remove('btn-outline-secondary');
                this.classList.add('btn-primary');
            });
        });

        document.querySelectorAll('.btn-finalize').forEach(button => {
            button.addEventListener('click', function(event) {
                const ticketData = [];
                let totalTickets = 0;
                let anySelected = false;

                document.querySelectorAll('.btn-primary').forEach((btn, index) => {
                    const quantity = parseFloat(btn.dataset.quantity);
                    const price = parseFloat(btn.dataset.unitPrice);
                    const movieName = document.querySelectorAll('h5')[index].textContent;

                    totalTickets += quantity;
                    ticketData.push({ movieName, quantity, price });
                    anySelected = true;
                });

                if (!anySelected) {
                    alert('Por favor, selecione pelo menos um ingresso "Inteira" ou "Meia".');
                    event.preventDefault();
                } else {
                    localStorage.setItem('ticketData', JSON.stringify(ticketData));
                    localStorage.setItem('totalTickets', totalTickets);
                    window.location.href = "{% url 'escolha_acento' %}";
                }
            });
        });
    });
</script>
{% endblock %}
