{% extends "base.html" %}
 
{% load static %}
 
{% block start %}
 
<style>
    .star-rating {
        display: inline-block;
    }
    
    .star-rating input[type="radio"] {
        display: none;
    }
    
    .star-rating label {
        font-size: 30px;
        cursor: pointer;
    }
    
    .star-rating label:before {
        content: '★';
        color: white;
    }
    
    .star-rating input[type="radio"]:checked ~ label:before {
        color: gold;
    }

    card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 32px;
        width: 18rem;
        margin-bottom: 20px; 
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-body p {
        text-align: center;
        width: 100%;
    }

    .bold{
        text-align: left;
        
    }
    .middle{
        margin: 0 auto;
         
    }

</style>
<link href="/static/home.css" rel="stylesheet"/>
<script src="./static/rating.js" sync></script>
<script src="./static/home.js" defer></script>
<br>
<div class="container-fluid py-5 text-center">
  <div class="container-slider">
    <button id="prev-button"><img src="https://i.imgur.com/877lMJA.png" alt="prev-button"></button>
    <div class="container-images">
      <img src="https://www.cinepolis.com.br/img/_ocasioes.jpg " width="300" 
      height="320" alt="ocasioes" class="slider on">
      <img src="https://www.cinepolis.com.br/img/_pipoca.jpg" width="300" 
      height="320" alt="pipoca" class="slider">
      <img src="https://www.cinepolis.com.br/img/_snack.jpg" width="300" 
      height="320" alt="snack" class="slider">
      <img src="https://www.cinepolis.com.br/img/_fome.jpg" width="300" 
      height="320" alt="fome" class="slider">
    </div>
    <button id="next-button"><img src="https://i.imgur.com/877lMJA.png" alt="next-button"></button>
  </div>
<br>
<br>
<br>
<br>
<h1 class="text-center "> Filmes em cartaz </h1>  
<div class="container mt-5 pt-3" >
    <div class="row" >
    {% for movie in movies %}
    
    <div class="col-md-3 pt-3" >
        <form method="post">
            {% csrf_token %}
            <div class="star-rating" id="star-rating">
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 estrela"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 estrelas"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 estrelas"></label> 
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 estrelas"></label>
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 estrelas"></label> 
                
            </div>
        </form>
        <!-- COR DAS CAIXAS DE FILME-->
        <div class="card shadow-lg" style="width: 18rem; background-color:  rgb(33 38 45); border-radius: 32px;" >
            <img src="{{movie.images}}" style="height: 210px; border-radius: 32px;" alt="Filme">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase">  <strong style="font-size: 20px; color:rgb(152 170 236)">{{movie.movie_name}}</strong></h5>
                <p class="bold" style="color: aliceblue;"> <b>Preço</b> R$ {{movie.price}} <br> <strong>Gênero</strong> - {{movie.category.category_name}} <br> <Strong>Duração</Strong> --:-- </p>
                 <a href="{%  url 'add-cart' movie.uid %}" class="btn btn-warning middle" style="border-radius: 10px;">Comprar agora </a>
                   </div>
        </div>
        <br>
    </div>
    <br>
    {% endfor %}
</div>
</div>

{% endblock %}