{% extends "base.html" %}
 
{% load static %}
 
{% block start %}
 
<style>
    .bold{
        margin-left: 57px;
        
    }
    .middle{
        margin-left: 26%;
         
    }

</style>
    
<div class="container mt-5 pt-3" >

    <div class="row" >
    {% for movie in movies %}
    <div class="col-md-3 pt-3" >
        <!-- COR DAS CAIXAS DE FILME-->
        <div class="card shadow-lg" style="width: 18rem; background-color:  rgb(33 38 45); border-radius: 32px;" >
            <img src="{{movie.images}}" style="height: 210px; border-radius: 30px;" alt="Filme">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase">  <strong style="font-size: 20px; color:rgb(152 170 236)">{{movie.movie_name}}</strong></h5>
                <p class="bold" style="color: aliceblue;"> <b>Preço</b> R$ {{movie.price}} <br> <strong>Gênero</strong> - {{movie.category.category_name}} <br> <Strong>Duração</Strong> --:-- </p>
                 <a href="{%  url 'add-cart' movie.uid %}" class="btn btn-warning middle">Comprar agora </a>
                   </div>
        </div>
        <br>
    </div>
    <br>
    {% endfor %}
</div>
</div>
{% endblock %}